# フロントエンドコーディング試験 API
# 仕様: https://github.com/yumemi-inc/frontend-engineer-codecheck/blob/main/docs/api.md
VITE_API_BASE_URL=https://frontend-engineer-codecheck-api.mirai.yumemi.io
VITE_API_KEY=8FzX5qLmN3wRtKjH7vCyP9bGdEaU4sYpT6cMfZnJ
